apiVersion: apps/v1
kind: Deployment
metadata:
  name: mobile-task
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: mobile-task
          env:
            - name: EXPO_PUBLIC_API_URL
              value: "https://your-dev-api-url.com/api"
          resources:
            requests:
              memory: "32Mi"
              cpu: "25m"
            limits:
              memory: "64Mi"
              cpu: "50m"